# Ignorar archivos temporales
*.log
*.tmp

# Ignorar el directorio "node_modules" completamente
tmp/
Vendor/
Test/
Config/
Webroot/files/
includes/
Config/database.php

# Ignorar archivos generados por el sistema
.DS_Store
Thumbs.db
